<div class="row">
  <div class="col-3">&nbsp;</div>
  <div class="col-9">
    <h2>Coin Amount By Date</h2>
  </div>
  <div class="col-3">&nbsp;</div>
</div>

<div class="row">
  <div class="col-3">&nbsp;</div>
  <div class="col-9 graph">
    <ngx-charts-line-chart [view]="[700, 300]" [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
      [xAxis]="true" [yAxis]="true" [results]="data" [xAxisLabel]="'Date'" [yAxisLabel]="'Amount'" [timeline]="true">
    </ngx-charts-line-chart>
  </div>
  <div class="col-3">&nbsp;</div>
</div>

<router-outlet></router-outlet>